/*Style cho thông báo thành công hoặc lỗi (notification, success, error).*/

.notification {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.notification.success {
    background-color: #1e90ff;
    color: #fff;
}

.notification.error {
    background-color: #e74c3c;
    color: #fff;
}